@using DoctorReservation.ViewModels
@model LoginViewModel

<section class="hero section light-background">

    <img src="~/assets/img/hero-bg.jpg" alt="" data-aos="fade-in" style="opacity: 0.7;">
    <div class="container d-flex justify-content-center align-items-center vh-100" >
        <div class="card shadow-lg p-4" style="width: 100%; max-width: 450px;" data-aos="fade-up">
            
    <form method="post">
        
                <h2 class="text-center">Login</h2>
                <form>
                    <div class="mb-3">
                        <label asp-for="UserName">User Name</label>
		                <input asp-for="UserName" class="form-control" />
	                	<span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                       <label asp-for="Password"></label>
		               <input asp-for="Password" class="form-control" />
	                	<span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
                <div class="text-center mt-2">
                    <a href="#">Forgot your password?</a>
                </div>
                <div class="text-center mt-2">
                    <small>Don't have an account? <a href="/Account/Register">Register here</a></small>
                </div>
         

       <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    </form>
            </div>
        </div>
    
</section>