@using DoctorReservation.ViewModels
@model LoginViewModel


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Login Page</title>
</head>
<body>
    <form method="post">
       <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2 class="text-center">Login</h2>
                <form>
                    <div class="mb-3">
                        <label asp-for="UserName"></label>
		                <input asp-for="UserName" class="form-control" />
	                	<span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                       <label asp-for="Password"></label>
		               <input asp-for="Password" class="form-control" />
	                	<span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
                <div class="text-center mt-2">
                    <a href="#">Forgot your password?</a>
                </div>
                <div class="text-center mt-2">
                    <small>Don't have an account? <a href="#">Register here</a></small>
                </div>
            </div>
        </div>
       </div>

       <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    </form>
</body>
</html>

