@model DoctorReservation.Models.Doctor
@{
    ViewData["Title"] = "Add Doctor";
}
<section class="hero section light-background">

    <img src="~/assets/img/departments-3.jpg" alt="" data-aos="fade-in">

<div class="container d-flex justify-content-center align-items-center mb-4 mt-4" style="opacity: 0.9;">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 450px;" data-aos="fade-up">
        <h2 class="text-center mb-4">Personal Data</h2>
        <p>You must enter personal data to complete registration</p>

<form asp-action="Create" method="post" enctype="multipart/form-data">
<input type="hidden" asp-for="ApplicationUserId" value="@ViewBag.UserId" />

    <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group ccol-12" >
                <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

            <div class="form-group col-12" >
                <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

            <div class="form-group col-12" >
        <label asp-for="City"></label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

            <div class="form-group col-12" >
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

            <div class="form-group col-12" >
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

            <div class="form-group col-12">
        <label asp-for="Mobile"></label>
        <input asp-for="Mobile" class="form-control" />
        <span asp-validation-for="Mobile" class="text-danger"></span>
    </div>

            <div class="form-group col-12" >
        <label asp-for="Fees"></label>
        <input asp-for="Fees" class="form-control" />
        <span asp-validation-for="Fees" class="text-danger"></span>
    </div>

    <div class="form-group" col-12>
        <label for="specialization">Specialization</label>
        <select asp-for="specialization" class="form-select" asp-items="Html.GetEnumSelectList<DoctorReservation.Models.Doctor.Specialization>()">
            <option value="">Select Specialization...</option>
        </select>
    </div>

            <div class="form-group col-12" >
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

            <div class="form-group col-12">
        <label asp-for="Certificate"></label>
        <input asp-for="Certificate" type="file" class="form-control" />
        <span asp-validation-for="Certificate" class="text-danger"></span>
    </div>

            <div class="form-group col-12">
        <label asp-for="Image"></label>
        <input asp-for="Image" type="file" class="form-control" />
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>


            <button type="submit" class="btn btn-primary mt-2 col-12">Save</button>
</form>
</<div>
</div>
</section>
@* @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@
