
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

@* @model DoctorDashboardViewModel *@
@{
    ViewBag.Title = "ndex";
     Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<div class="container mt-5">
    
</div>

