@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Review
@{
    ViewData["Title"] = "Details";
}
<h2>Show Details</h2>

<h1>@Model.Rating</h1>
<h1>@Model.ReviewDate</h1>
<h1>@Model.Comment</h1>

