
@{
    ViewData["Title"] = "AboutUs";
}

<div class="container d-flex justify-content-center align-items-center mb-2">
    <div class="card shadow-lg p-4" style="width: 100%; max-width: 450px;" data-aos="fade-up">
        <h2 class="text-center mb-4">About Us & Contact Us</h2>
<p>Our project team is dedicated, skilled, and passionate about delivering high-quality solutions.
    Each member brings unique expertise and a collaborative spirit to ensure the project's success.</p>

        <p>Teresa Girgis :+20 122 564 9080 </p>
        <p>Salsabil Ramadan : +20 127 376 7391</p>
        <p>Mahmoud Bahzad : +20 106 188 4673</p>
        <p>Kerolos Mounir: +20 122 129 7961</p>
        <p>Ziad ahmed : +20 100 083 3735</p>
    </<div>

</div>